/* Указываем box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Убираем внутренние отступы */

ul[class],
ol[class] {
    padding: 0;
}


/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Выставляем основные настройки по-умолчанию для body */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
    list-style: none;
}


/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Упрощаем работу с изображениями */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}


/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    font-size: 16px;
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #2E2F22;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 41vw;
}

.header-hero {
    width: 100%;
    height: 41vw;
}

.header-logo {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.logo {
    width: 130px;
    height: 85px;
}

.menu {
    position: absolute;
    padding: 0 7.5rem;
    top: 4px;
    font-size: 1.125rem;
    width: 100%;
    display: flex;
    align-items: center;
}

@media all and (max-width: 1024px) {
    .menu {
        padding: 0 2rem;
    }
}

a.menu-link {
    text-decoration: none;
    color: #2E2F22;
}

a.menu-link:hover {
    font-size: 1.2rem;
    font-weight: 700;
    color: #2E2F22;
}

ul.menu-list {
    display: flex;
    margin-left: auto;
    list-style-type: none;
}

.menu-list>li:nth-of-type(n):not(:last-of-type) {
    padding-right: 83px;
}

.article-item__title {
    margin-top: 1rem;
}

.article-item__desc {
    margin: 1rem 0;
    line-height: 1.5;
}

.article-add-info {
    margin-top: auto;
}

.articles a {
    text-decoration: none;
    color: #202117;
}

.articles {
    margin: 5.3125rem 7.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.1rem;
}

.articles-header-title,
.article-item__title {
    font-family: 'Spectral SC', serif;
    font-weight: bold;
}

.articles-header-title {
    font-size: 2.25rem;
}

.article-item__title {
    font-size: 1.125rem;
}

.articles-header-select {
    position: relative;
    padding: 12px 60px 12px 20px;
    border-radius: 10px;
    appearance: none;
    background: #D7D1C9 url("../img/arrow-down-2x.png") no-repeat calc(100% - 20px) 50%;
    background-size: 22px 20px;
}

.article__rows {
    display: flex;
    flex-direction: column;
}

.mini__row,
.big__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.mini {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.mini:nth-child(n):not(:nth-child(3n)) {
    margin-right: 5%;
}

.article-item__img {
    width: 100%;
    height: 270px;
    min-height: 270px;
    max-height: 270px;
}

.article-item__img img {
    border-radius: 10px;
}

.article-add-info {
    color: rgba(47, 47, 34, .7);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.aarticle-tags {
    word-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big {
    margin-top: 3.875rem;
    position: relative;
    width: 49%;
    height: 552px;
    min-height: 552px;
    max-height: 552px;
    color: #FFF;
}

.big:nth-child(n):not(:nth-child(2n)) {
    margin-right: 2%;
}

.big a {
    color: #FFF;
}

.big>.article-item__img {
    min-height: 552px;
    max-height: 552px;
    height: 552px;
    position: absolute;
    z-index: -1;
    top: 0;
}

.article-item-big-content {
    position: absolute;
    bottom: 3.75rem;
    left: 5.125rem;
    right: 5.125rem;
    display: flex;
    flex-direction: column;
}

.article-item-big-content>.article-add-info {
    color: rgba(255, 255, 255, .7);
}

.more {
    margin-top: 6.5rem;
    padding: 12px 3.625rem;
    align-self: center;
    border: 1px solid #202117;
    border-radius: 10px;
}

.about-me {
    margin: 5.3125rem 7.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__header {
    align-self: center;
    margin-bottom: 3rem;
}

.about-me__block {
    display: flex;
    justify-content: space-between;
}

.about-me__foto {
    width: 49%;
}

.about-me__foto img {
    border-radius: 10px;
}

.about__content {
    margin-top: 2.8rem;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__text {
    width: 88%;
}

.about__text>p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.about__text>p>a {
    color: #2E2F22;
}

.blockquote {
    font-size: 2rem;
    font-style: italic;
    line-height: 2.5rem;
    padding: 28px 0 28px 20px;
    border-left: 3px solid #D7D1C9;
    ;
}

.portfolio,
.write-form-section {
    margin: 5.3125rem 7.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio .more {
    text-transform: uppercase;
}

.slaider {
    display: flex;
    justify-content: space-between;
}

.slider_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 525px;
    z-index: -1;
}

.slider_background img {
    filter: blur(10px);
}

.slaider__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 525px;
    min-height: 525px;
    align-items: center;
    justify-content: center;
    background-size: contain;
}

.slaider__item-titles,
.slaider__item-text {
    align-self: center;
    margin: 0 1.5rem;
}

.slaider__item-titles>h3,
.slaider__item-titles>h4,
.slaider__item-text {
    text-align: center;
}

.slaider__item-titles>h3 {
    margin-bottom: 2.8rem;
    font-size: 1.4rem;
}

.slaider__item-titles>h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.slaider__item-titles>h4::before {
    content: "\00AB";
}

.slaider__item-titles>h4::after {
    content: "\00BB";
}

.slaider__item-titles {
    margin-bottom: 1rem;
    font-family: 'Spectral SC', serif;
    font-weight: bold;
}

.slaid-1 {
    background: #C4C4C4;
    border-radius: 10px;
}

.slaid-2 {
    background: #ECC8C8;
    border-radius: 10px;
}

.slaid-3 {
    background: #C4C4C4;
    border-radius: 10px;
}

.whites {
    color: #FFF;
}

.write-form {
    display: flex;
    flex-direction: column;
    background: url("../img/form-back.jpg") no-repeat;
    background-size: cover;
    padding: 4rem 5.125rem;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.write-form>.more {
    margin-top: 20px;
    background-color: transparent;
    text-transform: uppercase;
}

.write-form-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.write-form-item:nth-child(2) {
    margin-left: 1.2rem;
}

.write-form-item>input,
.write-form-item>textarea {
    padding: 20px 0 20px 20px;
    border: 1px solid #202117;
    border-radius: 10px;
    resize: none;
    background-color: rgba(255, 255, 255, .4);
}

.write-form-item>input::-webkit-input-placeholder {
    color: #202117;
}

.write-form-item>input::-moz-placeholder {
    color: #202117;
}

.write-form-item>input:-moz-placeholder {
    color: #202117;
}

.write-form-item>input:-ms-input-placeholder {
    color: #202117;
}

.write-form-item>textarea::-webkit-input-placeholder {
    color: #202117;
}

.write-form-item>textarea::-moz-placeholder {
    color: #202117;
}

.write-form-item>textarea:-moz-placeholder {
    color: #202117;
}

.write-form-item>textarea:-ms-input-placeholder {
    color: #202117;
}

.write-form-item {
    position: relative;
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.write-form-item>label {
    font-family: 'Spectral SC', serif;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.8;
}

.footer {
    background: #D7D1C9;
    padding: 4rem 0 5rem;
    display: flex;
    justify-content: center;
}

ul.social_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44%;
}

ul.social_nav>li>a {
    color: #2E2F22;
    text-decoration: none;
}


/* Page 2 */

.single-article,
.actions,
.goback {
    margin: 5.3125rem 20rem 2.5rem 7.5rem;
}

.single-article .article-add-info {
    justify-content: flex-start;
    margin-bottom: 3.2rem;
}

.single-article .article-add-info>.article-tags {
    margin-right: 1.2rem;
}

.article_img {
    width: 100%;
    margin: 2.6rem 0;
}

.article_img>figcaption {
    font-size: .9rem;
    font-style: italic;
    margin-top: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2rem;
}

.share,
.likes {
    display: flex;
    align-items: center;
}

.actions figure {
    width: 50px;
    height: 50px;
}

.share>figure:not(:last-child) {
    margin-right: 2rem;
}

.likes>figure {
    margin-right: 1rem;
}

.likes>span {
    font-size: 1.5rem;
}

.goback>a {
    text-decoration: none;
    color: #202117;
    display: flex;
    align-items: center;
}

.goback h3 {
    font-weight: 700;
    font-size: 2rem;
}

.goback figure {
    width: 65px;
    margin-left: 1.5rem;
}

.actions figure:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.actions figure:hover svg>path {
    fill: red;
}

.comments-block {
    margin: 5.3125rem 0 2.5rem 7.5rem;
    width: 60%;
    /* word-break: break-all; */
}

.comments {
    background: #ECE1E1;
    padding: 3rem 8rem;
    border-radius: 10px;
}

.comment:not(:last-child) {
    margin-bottom: 2.5rem;
}

.comment-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.comment-info>figure {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 1.5rem;
}

.comment-info>figure>img {
    border-radius: 10px;
}

.commet-author {
    font-weight: 700;
    font-size: 1rem;
}

.comment-form-item>input {
    border: none;
    border-bottom: 1px solid #2E2F22;
    background-color: transparent;
    padding: 1rem 10px;
}

.comment-form-item>textarea {
    border: 1px solid #2E2F22;
    border-radius: 10px;
    background-color: transparent;
    resize: none;
    padding: 1rem;
    width: 100%;
}

.comment-form {
    display: flex;
    flex-flow: column wrap;
    height: 250px;
}

.comment-form-item:nth-child(1) {
    width: 30%;
    order: 0;
}

.comment-form-item:nth-child() {
    width: 30%;
    order: 1;
}

.comment-form-item:nth-child(3) {
    width: 65%;
    order: 3;
}

.comment-form .more {
    margin-top: 2rem;
    align-self: flex-start;
    order: 2;
}

.comment-form-block>h6 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 5rem 0;
}

.single-article .article-item__title {
    font-size: 2.2rem;
}

.write-form-item>.not-valid-text {
    color: red;
    border-color: red;
    outline-color: red;
}

.comment-form-item>.not-valid-text {
    color: red;
    border-color: red;
    outline-color: red;
}

.hidden {
    display: none;
}

.write-form-item>.tooltip {
    position: absolute;
    top: 0;
    right: 2rem;
    color: red;
}

.comment-form-item {
    position: relative;
}

.comment-form-item>.tooltip {
    position: absolute;
    top: -2rem;
    left: 1rem;
    color: red;
}

@media (max-width: 1024px) {
    .mini__row {
        justify-content: space-between;
    }
    .mini {
        width: 45%;
        margin: 0 0 3rem 0;
    }
    .mini:nth-child(n):not(:nth-child(3n)) {
        margin-right: 0;
    }
    .big {
        width: 100%;
        height: 350px;
        min-height: 350px;
        max-height: 350px;
    }
    .big>.article-item__img {
        min-height: 350px;
        max-height: 350px;
        height: 350px;
    }
    .about-me__block {
        flex-direction: column;
    }
    .about-me__foto {
        width: 100%;
        height: 450px;
    }
    .about__content {
        width: 100%;
    }
    .single-article,
    .actions,
    .goback {
        margin: 5rem;
    }
    .comments-block {
        margin: 5rem;
        width: 80%;
    }
    .comments {
        padding: 3rem;
    }
}

@media (max-width: 880px) {
     :root {
        font-size: 14px;
    }
    .menu-list>li:nth-of-type(n):not(:last-of-type) {
        padding-right: 40px;
    }
    .articles-header {
        flex-direction: column;
    }
    .articles-header-select {
        margin: 1rem 0 2rem;
    }
    .mini {
        width: 100%;
        margin: 0 0 3rem 0;
    }
    main>section[class] {
        margin: 2rem 7.5%;
    }
    .article-item-big-content {
        bottom: 3rem;
        left: 2rem;
        right: 2rem;
    }
}

@media (max-width: 700px) {
    ul.menu-list {
        display: none;
    }
    .blockquote {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .slaider {
        flex-direction: column;
    }
    .slaider__item {
        width: 90%;
        margin: 20px auto;
        height: 400px;
        min-height: 400px;
        max-height: 400px;
    }
    .slider_background {
        height: 400px;
    }
    .write-form-items {
        flex-direction: column;
    }
    .write-form-item:nth-child(n) {
        margin: 1rem 0;
    }
    .write-form {
        padding: 2rem;
    }
    ul.social_nav {
        width: 70%;
    }
    .single-article,
    .actions,
    .goback {
        margin: 2rem;
    }
    .comments-block {
        margin: 2rem;
        width: auto;
    }
    .comments {
        padding: 1.5rem;
    }
    .comment-form {
        display: flex;
        flex-flow: column nowrap;
        height: auto;
    }
    .comment-form-item {
        margin: 1rem 0;
    }
    .comment-form-item:nth-child(n) {
        width: 90%;
    }
    .comment-form .more {
        margin-top: 2rem;
        align-self: center;
        order: 4;
    }
    .comment-form-item>input {
        width: 100%;
    }
}

@media (max-width: 480px) {
     :root {
        font-size: 12px;
    }
    main>section[class] {
        margin: 2rem 4%;
    }
    ul.social_nav {
        width: 80%;
    }
    .actions figure {
        width: 30px;
        height: 30px;
    }
    .goback figure {
        width: 45px;
        margin-left: 1rem;
    }
}